
#The Snap (jonatho7's) GitHub Repository.
static/Snap

#The Snap-Sample-Projects GitHub Repository
static/Snap-Sample-Projects

#binary files.
*.pyc

#IntelliJ IDE files.
.idea/


#other files.
.DS_Store
twitterservice/sampleUsage.py