<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{{ SITE_URL_BASE }}/static/Snap/datasnap.ico">

    <title>DataSnap</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ SITE_URL_BASE }}/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Snap CSS-->
    <link href="{{ SITE_URL_BASE }}/static/css/font_Roboto.css" rel="stylesheet">
    <link href="{{ SITE_URL_BASE }}/static/css/snapCSS.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="{{ SITE_URL_BASE }}/static/js/html5shiv.min.js"></script>
      <script src="{{ SITE_URL_BASE }}/static/js/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<!-- Static navbar -->
<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('index')}}">DataSnap</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="{{ url_for('index')}}">Home</a></li>
                <li><a href="{{ url_for('learn')}}">Learn</a></li>
                <li><a href="{{ url_for('about')}}">About</a></li>
                <li><a href="{{ url_for('contact')}}">Contact</a></li>

            </ul>

        </div><!--/.nav-collapse -->
    </div>
</nav>


<div class="container">

    <h2>About</h2>
    <br>

    <div class="textArea800">
        <h3>Enriching Online Educational Programming Platform Curricula:</h3>
        <p>One of the primary aims of this project is the enrich the curricula of online educational programming platforms. But why does the curricula of educational programming platforms need any modifications?</p>
        <p>Despite the popularity of online programming platforms, so far they have failed to realize their promise as a means of motivating and retaining a diverse population of students. Namely, current online students are often turned away by the curriculum's prevalent focus on entertainment, such as games and animation. Not developing the necessary motivation to study computer science, many students are dropping out having failed to see computing as a tool for solving real world problems in their lives [3]. Additionally, women and minorities remain woefully underrepresented in computing, with the typical over-emphasis on games and animation contributing to the underrepresentation [4].</p>
        <p>The widely recognized and well-validated <b>MUSIC model of academic motivation</b> [7] explains this lack of motivation [6]. It suggests that students become internally motivated when they perceive that:</p>
            <ol>
                <li>they are eMpowered; </li>
                <li>the content is Useful; </li>
                <li>they can be Successful; </li>
                <li>they are Interested; and </li>
                <li>they feel Cared for by the instructor and other students.</li>
            </ol>
         <p>The MUSIC model shows that existing educational programming platforms fail to provide useful and interesting content to a diverse audience; not everyone is interested in games and animations, and it is hard to see this kind of development as generally useful [5]. A new, promising approach is to teach introductory computation in the context of big data science to solve real-world problems[1]. Unfortunately, these platforms lack support for accessing real-time and big data sources, which can provide a unique context for teaching real-world problem solving. Indeed, addressing this technological shortcoming has the potential to empower students to explore real-world problems that are truly important to them.</p>
        <hr/>


        <br><br>
        <h3>Main Authors</h3>
        <p><b>Jonathon Hellmann</b> - Master's student at Virginia Tech, studying Computer Science. Primary author of project and site. <a href="http://jonathonhellmann.com">Personal Site</a></p>
        <p><b>Dr. Tilevich</b> - Was the primary source of direction throughout the project, and encouraged me to put my best efforts forth. Primary Advisor. Associate Professor at Virginia Tech. <a href="http://people.cs.vt.edu/~tilevich/">Personal Site</a></p>
        <p><b>Dr. Kafura</b> - Was the source of knowledge concerning computational thinking concepts and offered guidance. Committee Member. <a href="http://people.cs.vt.edu/~kafura/">Personal Site</a></p>
        <p><b>Dr. Shaffer</b> - Was the source of knowledge concerning online educational platforms. Committee Member. <a href="http://people.cs.vt.edu/~shaffer/">Personal Site</a></p>
        <hr/>

        <br><br>
        <h3>Contributors</h3>
        <p><b>Cory Bart</b> - Contributed a large amount of guidance, a server to host the site, and the CORGIS Python libraries. Student pursing Computer Science PhD at Virginia Tech. <a href="https://sites.google.com/a/vt.edu/acbart-eportfolio/">Personal Site</a></p>
        <p><b>Peeratham Techapalokul (Karn)</b> - (info coming soon). Student pursuing Computer Science PhD at Virginia Tech. <a href="http://www.peeratham.com/">Personal Site</a></p>
        <p><b>Vivek Akupatni</b> - (info coming soon). Student pursuing Computer Science PhD at Virginia Tech. <a href="http://www.vbi.vt.edu/ndssl/people/people-profile/Vivek-Bharath-Akupatni">Personal Site</a></p>
        <hr/>

        <br><br>
        <h3>Background</h3>
        <p>This project is being completed for the fulfillment of the requirements of the Master of Science in Computer Science Thesis at Virginia Tech.</p>
        <hr/>

    </div>



    <br><br>
    <div class="textArea800">
        <h3>References</h3>
        <p>[1] R. E. Anderson, et al. Introductory programming meets the real world: using real problems and data in CS1. In Proceedings of the 45th ACM technical symposium on Computer Science education (SIGCSE '14).</p>
        <p>[2] A. C. Bart, E. Tilevich, S. Hall, T. Allevato, and C. A. Shaer, Transforming introductory computer science projects via real-time web data. In Proceedings of the 45th ACM technical symposium on Computer Science education (SIGCSE '14). 289-294.</p>
        <p>[3] T. Beaubouef, Why the high attrition rate for computer science students: some thoughts and observations. ACM SIGCSE Bulletin, June 2005.</p>
        <p>[4] J. M. Cohoon, Towards improving female retention in the computer science major. Communications of the ACM, May 2001.</p>
        <p>[5] M. M. Guzdial and A. E. Tew, Imagineering inauthentic legitimate peripheral participation: an instructional design approach for motivating computing education. In Proceedings of the 2nd international workshop on Computing education research (ICER '06).</p>
        <p>[6] B. D. Jones, Motivating students to engage in learning: The MUSIC Model of Academic Motivation. International Journal of Teaching and Learning in Higher Education, 2009.</p>
        <p>[7] B. D. Jones and G. Skaggs. Validation of the MUSIC Model of Academic Motivation Inventory: A measure of students' motivation in college courses. Research presented at the International Conference on Motivation 2012. Germany.</p>
        <p>[8] The Virginia Tech CORGIS Datasets Project, http://think.cs.vt.edu/corgis/.</p>
    </div>

    <div class="extraSpaceAtBottom"></div>


</div> <!-- /container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{{ SITE_URL_BASE }}/static/js/jquery-1.11.1.min.js"></script>
<script src="{{ SITE_URL_BASE }}/static/js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="{{ SITE_URL_BASE }}/static/js/ie10-viewport-bug-workaround.js"></script>


</body></html>