<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{{ SITE_URL_BASE }}/static/Snap/datasnap.ico">

    <title>DataSnap</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ SITE_URL_BASE }}/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Snap CSS-->
    <link href="{{ SITE_URL_BASE }}/static/css/font_Roboto.css" rel="stylesheet">
    <link href="{{ SITE_URL_BASE }}/static/css/snapCSS.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="{{ SITE_URL_BASE }}/static/js/html5shiv.min.js"></script>
      <script src="{{ SITE_URL_BASE }}/static/js/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<!-- Static navbar -->
<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('index')}}">DataSnap</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="{{ url_for('index')}}">Home</a></li>
                <li><a href="{{ url_for('learn')}}">Learn</a></li>
                <li><a href="{{ url_for('about')}}">About</a></li>
                <li><a href="{{ url_for('contact')}}">Contact</a></li>

            </ul>

        </div><!--/.nav-collapse -->
    </div>
</nav>


    <div class="container">

        <h2>Contact</h2>
        <p>If you are interested in learning more or contributing to this open-source project, please contact: </p>
        <p><b>Jonathon Hellmann</b></p>
        <p><a href="mailto:jonatho7@vt.edu">jonatho7@vt.edu</a></p>

        <br>
        <p>Or visit the GitHub page directly:</p>
        <p><a href="https://github.com/jonatho7/SnapBYOBServer">https://github.com/jonatho7/SnapBYOBServer</a></p>

    </div> <!-- /container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{{ SITE_URL_BASE }}/static/js/jquery-1.11.1.min.js"></script>
<script src="{{ SITE_URL_BASE }}/static/js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="{{ SITE_URL_BASE }}/static/js/ie10-viewport-bug-workaround.js"></script>


</body></html>