<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{{ SITE_URL_BASE }}/static/Snap/datasnap.ico">

    <title>DataSnap</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ SITE_URL_BASE }}/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Snap CSS-->
    <link href="{{ SITE_URL_BASE }}/static/css/font_Roboto.css" rel="stylesheet">
    <link href="{{ SITE_URL_BASE }}/static/css/snapCSS.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="{{ SITE_URL_BASE }}/static/js/html5shiv.min.js"></script>
      <script src="{{ SITE_URL_BASE }}/static/js/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<!-- Static navbar -->
<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('index')}}">DataSnap</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="{{ url_for('index')}}">Home</a></li>
                <li><a href="{{ url_for('learn')}}">Learn</a></li>
                <li><a href="{{ url_for('about')}}">About</a></li>
                <li><a href="{{ url_for('contact')}}">Contact</a></li>

            </ul>

        </div><!--/.nav-collapse -->
    </div>
</nav>

<div class="container">

    <div class="textArea">
        <h2><b>DataSnap</b></h2>

        <h4>Drag-and-Drop programming for <b>introductory programmers</b> and <b>domain-experts</b></h4>



        <div class="leftPanel">
            <h5 class="panelElement">Launch a quick example built in DataSnap</h5>
            <p class="panelElement"><a class="btn btn-lg btn-primary" role="button" href="{{ url_for('snap') }}#open:{{ SITE_URL_BASE }}/static/Snap-Sample-Projects/Snap-Demo.xml">Launch DataSnap Demo »</a></p>
            <br class="panelElement">
            <h5 class="panelElement">Launch empty DataSnap window</h5>
            <p class="panelElement"><a class="btn btn-lg btn-primary" role="button" href="{{ url_for('snap')}}">Launch DataSnap »</a></p>
        </div>
        <div class="rightPanel">
            <img class="panelElement" src="{{ SITE_URL_BASE }}/static/img/sampleProgram.png" alt="Sample Snap Program">
        </div>

        <div class="breakFloat"></div>

        <h3 class="h3Title">Introductory Programmers</h3>
        <h4>This project aims to enrich the curricula of online educational programming platforms in order to convince students that studying computer science is <b>important</b>, <b>relevant</b>, and <b>related</b> to their day-to-day experiences.</h4>

        <h3 class="h3Title">Domain-Experts</h3>
        <h4>Furthermore, DataSnap is not just designed for educational contexts. The platform can enable domain experts who commonly possess little programming expertise to both analyze data and visualize their results.</h4>
        <hr/>

        <div class="versionOfSnapDiv">
            <h4>Data will add the following to the original Snap! platform:</h4>
            <ul>
                <li><h5><b>real-time</b> and <b>big-data</b> libraries into the Snap! platform</h5></li>
                <li><h5>big-data import from a user's private data sets</h5></li>
                <li><h5>the use of computational resources (cloud servers) to speed up the processing of big data</h5></li>
                <li><h5>combining third-party visualization libraries to provide domain experts and other users with easy-to-use interfaces to visualize their results</h5></li>
            </ul>
            <hr/>
        </div>

    </div>

    <div class="breakFloat"></div>

    <div class="realTimeDiv">
    <h3>Real-Time and Big-Data Libraries:</h3>
        <ul>
            <li><h5>Weather Data</h5></li>
            <li><h5>Google Finance Data</h5></li>
            <li><h5>Twitter Data</h5></li>
            <li><h5>Reddit Data</h5></li>
            <li><h5>Google GeoCoding Data</h5></li>
            <li><h5>USGS Earthquakes Data</h5></li>
        </ul>
        <hr/>
    </div>

    <div class="textArea800">
        <br><br>
        <h3>Enriching Online Educational Programming Platform Curricula</h3>
        <p>One of the primary aims of this project is the enrich the curricula of online educational programming platforms.</p>
        <p>This project will provide online programming platforms the following useful contexts in which to study computer science:</p>
        <br>
        <div class="contexts">
            <h4>Contexts:</h4>
            <ul>
                <li><b>Learning computer science concepts</b>
                    <ul>
                        <li>Ex: Learning the concepts of calculation, sequence, decision, and iteration while using relevant data.</li>
                        <li>Ex: Learning how to create and use methods or functions.</li>
                    </ul>
                </li>
                <li><b>Social media data analysis</b>
                    <ul>
                        <li>Ex: Using Twitter to predict which upcoming movies will sell the most tickets.</li>
                        <li>Ex: Using Reddit to determine which news stories are the most popular.</li>
                    </ul>
                </li>
                <li><b>Visualizing Data</b>
                    <ul>
                        <li>Ex: Using Google Maps to visualize the USGS reported earthquakes.</li>
                        <li>Ex: Using Google Maps to visualize which airports have inclement or dangerous weather conditions.</li>
                    </ul>
                </li>
                <li><b>Streaming Data</b>
                    <ul>
                        <li>Ex: Streaming stock market data to determine which stocks are currently up or down for the day.</li>
                        <li>Ex: Streaming stock market data to analyze a personal stock portfolio.</li>
                    </ul>
                </li>
            </ul>
        </div>
        <hr/>
    </div>


    <div class="abstractDiv">
        <h3>Abstract</h3>
        <br>
        <p>Online educational platforms (e.g., Massive Open Online Courses (MOOCs)) have become increasingly popular means of delivering computing curricula. These platforms, unfortunately, are plagued by extremely low retention rates, particularly in introductory courses. Educational theory posits that improper academic motivation models can be responsible for large percentages of online students never completing their courses. Specifically, the current focus of online programming assignments on entertainment (e.g., games, animation, etc.) is particularly misdirected; it fails to convince students that the covered technical content is important, relevant, and related to their day-to-day computing experiences.</p>
        <br>
        <p>As an alternative, this project will focus on real-time and big datasets as a means of convincing introductory online learners that computing is a powerful tool for solving challenging and relevant problems across a variety of fields. The specific goal of the proposed project is to address the challenges of enriching the curricula of online educational programming platforms with real-time and big data sources by creating the necessary scaffolding and programming abstractions. The resulting methodology will enable other online educational platforms to improve their motivation and retention rates by leveraging our technology to enrich their curricula.</p>
    </div>











    <div class="extraSpaceAtBottom"></div>

</div>




<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{{ SITE_URL_BASE }}/static/js/jquery-1.11.1.min.js"></script>
<script src="{{ SITE_URL_BASE }}/static/js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="{{ SITE_URL_BASE }}/static/js/ie10-viewport-bug-workaround.js"></script>


</body></html>