<!doctype html>
<html>
    <head>
	<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
        <title>Welcome to Snap!</title>
    </head>
    <body>
		<h1>Snap! w/ Real-Time and Big-Data Libraries</h1>
        <h2></h2>
        <p>This version of Snap! will add real-time and big-data libraries into the Snap! platform.</p>
        <p>These libraries are intended to enrich the curricula of online educational programming platforms in order to convince students that studying computer science is important, relevant, and related to their day-to-day experiences.</p>
        <p><a href="{{ url_for('snap')}}">Launch Snap!</a></p>


        <h2>Abstract</h2>
        <p>Online educational platforms (e.g., Massive Open Online Courses (MOOCs)) have become increasingly popular means of delivering computing curricula. These platforms, unfortunately, are plagued by extremely low retention rates, particularly in introductory courses. Educational theory posits that improper academic motivation models can be responsible for large percentages of online students never completing their courses. Specifically, the current focus of online programming assignments on entertainment (e.g., games, animation, etc.) is particularly misdirected; it fails to convince students that the covered technical content is important, relevant, and related to their day-to-day computing experiences.</p>
        <p>As an alternative, this project will focus on real-time and big datasets as a means of convincing introductory online learners that computing is a powerful tool for solving challenging and relevant problems across a variety of fields. The specific goal of the proposed project is to address the challenges of enriching the curricula of online educational programming platforms with real-time and big data sources by creating the necessary scaffolding and programming abstractions. The resulting methodology will enable other online educational platforms to improve their motivation and retention rates by leveraging our technology to enrich their curricula.</p>

        <h2>Background</h2>
        <p>This project is being completed for the fulfillment of the requirements of the Master of Science in Computer Science Thesis at Virginia Tech.</p>

    </body>
</html>