
body {
    background-color: #ffffff;
    font-family: 'Roboto', sans-serif;
    color: #404040;
}

h4 {
    font-size: 140%
}

.navbar-static-top {
  margin-bottom: 19px;
}

.jumbotron {
    padding: 8px;
}

.textArea {
    max-width: 900px;
}

.textArea800 {
    max-width: 800px;
}

.leftPanel {
    width: 300px;
    height: 250px;
    float: left;
}

.rightPanel {
    width: 500px;
    height: 250px;
    float: left;
}

.breakFloat {
    clear: both;
}

.abstractDiv {
    max-width: 600px;
    margin-top: 4em;
}

.extraSpaceAtBottom {
    margin-bottom: 4em;
}

.contexts li {
    margin: 25px 0px;
}

.contexts h4 {
    font-weight: 600;
}

.h3Div {
    margin-left: 70px;
}

.h3Title {
    font-weight: bold;
}

.versionOfSnapDiv, .realTimeDiv {
    margin-top: 4em;
}