
.mapWidthTitle, .mapHeightTitle, .mapSizeTitle {
    display: inline;
}

.mapWidth, .mapHeight {
    width: 60px;
}

.mapWidthTitle {
    margin-left: 20px;
}

#map-canvas {
    position: absolute;
    top: 365px;
    left: 782px;
}