
.mapWidthTitle, .mapHeightTitle, .mapSizeTitle {
    display: inline;
}

.mapWidth, .mapHeight {
    width: 60px;
}

.mapWidthTitle {
    margin-left: 20px;
}

#map-canvas {
    position: absolute;
    bottom: 0px;
    right: 0px;
}