<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>Snap! Build Your Own Blocks. Beta</title>
        <link rel="shortcut icon" href="http://snap.berkeley.edu/fav3.gif" type="image/gif">
		<!--Changed these URLS.-->
		<script type="text/javascript" src="static/Snap/morphic.js"></script>
		<script type="text/javascript" src="static/Snap/widgets.js"></script>
		<script type="text/javascript" src="static/Snap/blocks.js"></script>
		<script type="text/javascript" src="static/Snap/threads.js"></script>
		<script type="text/javascript" src="static/Snap/objects.js"></script>
		<script type="text/javascript" src="static/Snap/gui.js"></script>
		<script type="text/javascript" src="static/Snap/paint.js"></script>
		<script type="text/javascript" src="static/Snap/lists.js"></script>
		<script type="text/javascript" src="static/Snap/byob.js"></script>
		<script type="text/javascript" src="static/Snap/xml.js"></script>
		<script type="text/javascript" src="static/Snap/store.js"></script>
		<script type="text/javascript" src="static/Snap/locale.js"></script>
		<script type="text/javascript" src="static/Snap/cloud.js"></script>
		<script type="text/javascript" src="static/Snap/sha512.js"></script>

        <!--Load jQuery.-->
        <script type="text/javascript" src="static/js/jquery-1.11.1.min.js"></script>

        <!--Custom JS added to project.-->
        <script type="text/javascript" src="static/Snap/controlScripts.js"></script>

        <!--Custom CSS added to project-->
        <link href="static/css/style.css" rel="stylesheet">


        <!--Google Maps-->
        <script type="text/javascript" src="static/GoogleMaps/maps_googleapis.js"></script> <!--https://maps.googleapis.com/maps/api/js-->
        <script type="text/javascript" src="static/GoogleMaps/jsonData.js"></script>
        <script>
            var googleMap;

            function initialize() {
                var mapOptions = {
                    zoom: 2,
                    center: {lat: -14.7072629, lng: 19.4962294},
                    mapTypeId: google.maps.MapTypeId.TERRAIN
                };
                googleMap = new google.maps.Map(document.getElementById('map-canvas'),
                        mapOptions);



                //Load the json data.
                googleMap.data.addGeoJson(earthquakeJSON);

                googleMap.data.setStyle(function(feature) {
                    var magnitude = feature.getProperty('mag');
                    return {
                        icon: getCircle(magnitude)
                    };
                });

                function getCircle(magnitude) {
                    var circle = {
                        path: google.maps.SymbolPath.CIRCLE,
                        fillColor: 'red',
                        fillOpacity: .2,
                        scale: Math.pow(2, magnitude) / 2,
                        strokeColor: 'white',
                        strokeWeight: .5
                    };
                    return circle;
                }

            }

            // Call the initialize function after the page has finished loading
            google.maps.event.addDomListener(window, 'load', initialize);

        </script>



        <!--Snap World Startup.-->
		<script type="text/javascript">
			var world;
			window.onload = function () {
                world = new WorldMorph(document.getElementById('world'));
                world.worldCanvas.focus();
				new IDE_Morph().openIn(world);

                //world.isDevMode = true;

				setInterval(loop, 1);
			};
			function loop() {
				world.doOneCycle();
			}
		</script>


	</head>
	<body style="margin: 0;">

        <canvas id="world" tabindex="1"></canvas>


        <div style="padding: 10px 30px;">
            <div>
                <p class="mapWidthTitle"><strong>Map Width: </strong></p>
                <input class="mapWidth" type="text" required="" name="mapWidth" value="1024">
                <p class="mapHeightTitle"><strong>Map Height: </strong></p>
                <input class="mapHeight" type="text" required="" name="mapHeight" value="768">

                <button type="button" class="changeMapSizeButton">Go</button>
            </div>

            <div id="map-canvas" style="width: 1000px; height: 562px; margin-top: 30px;">
            </div>
        </div>








        <!--Div at the bottom for some extra space.-->
        <div style="height: 40px;"></div>

    </body>
</html>
