<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>DataSnap</title>
        <link rel="icon" href="{{ SITE_URL_BASE }}/static/Snap/datasnap.ico">


		<!--Changed these URLS.-->
		<script type="text/javascript" src="static/Snap/morphic.js"></script>
		<script type="text/javascript" src="static/Snap/widgets.js"></script>
		<script type="text/javascript" src="static/Snap/blocks.js"></script>
		<script type="text/javascript" src="static/Snap/threads.js"></script>
		<script type="text/javascript" src="static/Snap/objects.js"></script>
		<script type="text/javascript" src="static/Snap/gui.js"></script>
		<script type="text/javascript" src="static/Snap/paint.js"></script>
		<script type="text/javascript" src="static/Snap/lists.js"></script>
		<script type="text/javascript" src="static/Snap/byob.js"></script>
		<script type="text/javascript" src="static/Snap/xml.js"></script>
		<script type="text/javascript" src="static/Snap/store.js"></script>
		<script type="text/javascript" src="static/Snap/locale.js"></script>
		<script type="text/javascript" src="static/Snap/cloud.js"></script>
		<script type="text/javascript" src="static/Snap/sha512.js"></script>
		<script type="text/javascript">
			var world;
			window.onload = function () {
				world = new WorldMorph(document.getElementById('world'));
                world.worldCanvas.focus();
				new IDE_Morph().openIn(world);

                //world.isDevMode = true;

				setInterval(loop, 1);
			};
			function loop() {
				world.doOneCycle();
			}
		</script>
	</head>
	<body style="margin: 0;">
		<canvas id="world" tabindex="1" style="position: absolute;" />
    </body>
</html>
