<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>Snap! Build Your Own Blocks. Beta</title>
        <link rel="shortcut icon" href="http://snap.berkeley.edu/fav3.gif" type="image/gif">
		<!--Changed these URLS.-->
		<script type="text/javascript" src="{{ SITE_URL_BASE }}/static/Snap/morphic.js"></script>
		<script type="text/javascript" src="{{ SITE_URL_BASE }}/static/Snap/widgets.js"></script>
		<script type="text/javascript" src="{{ SITE_URL_BASE }}/static/Snap/blocks.js"></script>
		<script type="text/javascript" src="{{ SITE_URL_BASE }}/static/Snap/threads.js"></script>
		<script type="text/javascript" src="{{ SITE_URL_BASE }}/static/Snap/objects.js"></script>
		<script type="text/javascript" src="{{ SITE_URL_BASE }}/static/Snap/gui.js"></script>
		<script type="text/javascript" src="{{ SITE_URL_BASE }}/static/Snap/paint.js"></script>
		<script type="text/javascript" src="{{ SITE_URL_BASE }}/static/Snap/lists.js"></script>
		<script type="text/javascript" src="{{ SITE_URL_BASE }}/static/Snap/byob.js"></script>
		<script type="text/javascript" src="{{ SITE_URL_BASE }}/static/Snap/xml.js"></script>
		<script type="text/javascript" src="{{ SITE_URL_BASE }}/static/Snap/store.js"></script>
		<script type="text/javascript" src="{{ SITE_URL_BASE }}/static/Snap/locale.js"></script>
		<script type="text/javascript" src="{{ SITE_URL_BASE }}/static/Snap/cloud.js"></script>
		<script type="text/javascript" src="{{ SITE_URL_BASE }}/static/Snap/sha512.js"></script>

        <!--Load jQuery.-->
        <script type="text/javascript" src="{{ SITE_URL_BASE }}/static/js/jquery-1.11.1.min.js"></script>

        <!--Custom JS added to project.-->
        <script type="text/javascript" src="{{ SITE_URL_BASE }}/static/Snap/controlScripts.js"></script>

        <!--Custom CSS added to project-->
        <link href="{{ SITE_URL_BASE }}/static/css/style.css" rel="stylesheet">


        <!--Google Maps-->
        <!--Using my personal key. This key need not be private because only certain websites can use this specific key. Configure this in Google API's Console.-->
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBDIh3KocIcco9npZsjy9C1GqVjWz_XCjM"></script>

        <script>
            var googleMap;

            function initialize() {
                var mapOptions = {
                    zoom: 2,
                    center: {lat: -14.7072629, lng: 19.4962294},
                    mapTypeId: google.maps.MapTypeId.TERRAIN,
                    scaleControl: true
                };
                googleMap = new google.maps.Map(document.getElementById('map-canvas'),
                        mapOptions);

                //Set the scale to miles instead of km.
                var scaleInterval = setInterval(function() {
                  var scale = $(".gm-style-cc:not(.gmnoprint):contains(' km')");
                  if (scale.length) {
                    scale.click();
                    clearInterval(scaleInterval);
                  }
                }, 100);

            }

            // Call the initialize function after the page has finished loading
            google.maps.event.addDomListener(window, 'load', initialize);

        </script>



        <!--Snap World Startup.-->
		<script type="text/javascript">
			var world;
            var global_ide;
			window.onload = function () {
                world = new WorldMorph(document.getElementById('world'));
                world.worldCanvas.focus();

                global_ide = new IDE_Morph;
                global_ide.openIn(world);
				//new IDE_Morph().openIn(world);

                //world.isDevMode = true;

				setInterval(loop, 1);
			};
			function loop() {
				world.doOneCycle();
			}
		</script>


	</head>
	<body style="margin: 0;">

        <canvas id="world" tabindex="1"></canvas>


        <div style="padding: 10px 30px;">
            <div>

                <p class="mapSizeTitle"><strong>Map Size: </strong></p>
                <button type="button" class="changeMapSize1">Small</button>
                <button type="button" class="changeMapSize2">Medium</button>
                <button type="button" class="changeMapSize3">Large</button>
                <button type="button" class="changeMapSize4">Larger</button>

                <p class="mapWidthTitle"><strong>Custom Map Width: </strong></p>
                <input class="mapWidth" type="text" required="" name="mapWidth" value="1024">
                <p class="mapHeightTitle"><strong>Custom Map Height: </strong></p>
                <input class="mapHeight" type="text" required="" name="mapHeight" value="576">

                <button type="button" class="changeMapSizeButton">Go</button>
            </div>

            <div id="map-canvas" style="width: 1024px; height: 576px; margin-top: 30px;">
            </div>
        </div>








        <!--Div at the bottom for some extra space.-->
        <div style="height: 40px;"></div>

    </body>
</html>
